@import url("https://fonts.googleapis.com/css2?family=Almarai:wght@300;400;700;800&family=Cairo:wght@200..1000&display=swap");
:root {
  font-family: "Almarai", sans-serif;
  line-height: 1;
  --text-color: #798795;
  --black: #04152d;
  --black2: #041226;
  --black3: #020c1b;
  --black-lighter: #066bf9;
  --black-light: #173d77;
  --pink: #da2f68;
  --orange: #f89e00;
  --gradient: linear-gradient(98.37deg, #f89e00 0.99%, #da2f68 100%);
}

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 85%;
  max-width: 1124px;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.main-title {
  background-image: url(../img/logo.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 140px;
  width: 50%;
  max-width: 530px;
  margin: 0 auto;
  position: relative;
}
.main-title h3 {
  text-align: center;
  width: 100%;
  font-size: 24px;
  font-weight: 600;
  line-height: 30px;
  mix-blend-mode: overlay;
  color: var(--black3);
  position: absolute;
  top: 40%;
}

header {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 99;
  padding: 10px 0;
  width: 100%;
  background-color: #f1f1f1;
  box-shadow: 3px 3px 18px -0.5px #f4f4f4;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo img {
  width: 100px;
  height: auto;
  vertical-align: middle;
}

.large-menu {
  display: flex;
  gap: 10px;
  align-items: center;
  background-color: var(--black);
  padding: 8px 11px;
  border-radius: 28px;
}

.large-menu a {
  padding: 10px 15px;
  color: white;
  font-size: 14px;
  transition: 0.3s;
}
.large-menu a:hover {
  color: var(--black-lighter);
}

.large-menu a:not(:first-child) {
  border-right: 1px solid var(--text-color);
}

.swiper {
  width: 100%;
  height: calc(100vh - 67px);
}

.swiper-pagination-bullet {
  border-radius: 10px !important;
  height: 6px !important;
  width: 15px !important;
}

.swiper-button-next:after,
.swiper-button-prev:after {
  font-size: 24px !important;
  font-weight: 800 !important;
}

.hero-section {
  margin: 0 0 10px;
}

.hero-section .slide-content {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  background-size: cover;
  background-position: center center;
}

.hero-section .slide-content::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.hero-section .slide-content:nth-child(1) {
  background-image: url(../img/engineer-checking-industrial-fire-control-system-2.png);
}

.hero-section .slide-content.tow {
  background-image: url(../img/Group-5-1.png);
}

.hero-section .slide-content.three {
  background-image: url(../img/Group-9-3.png);
}

.hero-section .slide-content h1 {
  text-align: center;
  color: #fafafa;
  position: relative;
  font-size: 50px;
  font-weight: 800;
  line-height: 50px;
  margin-bottom: 10px;
}
.hero-section .slide-content h1 span {
  color: var(--black-lighter);
}

.hero-section .slide-content h2 {
  text-align: center;
  color: white;
  position: relative;
  font-weight: 300;
  color: #BEBEBE;
  font-size: 28px;
  margin-bottom: 10px;
  line-height: 40px;
}

.hero-section .slide-content a {
  background-color: white;
  padding: 12px 25px;
  color: var(--black-lighter);
  border-radius: 20px;
  text-align: center;
  position: relative;
  font-weight: 400;
  font-size: 15px;
  transition: all 0.3s;
}

.hero-section .slide-content a:hover {
  background-color: var(--black-lighter);
  color: #BEBEBE;
}

.services {
  padding: 50px 0;
}

.services .container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
}

.services .srv {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  flex: 1;
}

.services .srv i {
  font-size: 2rem;
  color: var(--black);
}

.services .srv h3 {
  margin-bottom: 10px;
  color: var(--black-lighter);
  font-size: 20px;
}

.services .srv p {
  color: var(--text-color);
  font-size: 0.8rem;
  font-weight: normal;
}

.systems {
  margin-bottom: 50px;
}
.systems .container {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  gap: 15px;
  flex-wrap: wrap;
}
.systems .container .system {
  position: relative;
  width: 30%;
  min-width: 200px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border-radius: 0 25px 0 25px;
  border: 1px solid #eeeeee;
  box-shadow: 3px 3px 28px 5px #f4f4f4;
  overflow: hidden;
  transition: all 0.3s;
}
.systems .container .system::before {
  content: "";
  width: 0;
  height: 0;
  background-color: rgba(4, 21, 45, 0.2352941176);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.systems .container .system:hover {
  box-shadow: 3px 3px 35px 8px #e4e4e4;
  transform: scale(0.95);
}
.systems .container .system:hover::before {
  width: 100%;
  height: 100%;
}
.systems .container .system img {
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.systems .container .system h4 {
  color: var(--black-light);
  text-align: center;
  font-size: 1.5rem;
}
.systems .container .system p {
  line-height: 20px;
  font-size: 0.8rem;
  text-align: center;
  color: var(--text-color);
}
.systems .container .system a {
  margin-bottom: 10px;
  padding: 8px 15px;
  color: #f4f4f4;
  background-color: var(--black);
  border-radius: 20px;
  font-size: 12px;
  font-weight: 500;
  transition: all 0.3s ease;
}
.systems .container .system a:hover {
  background-color: #bed3e8;
  color: var(--black);
  transform: scale(0.97);
}

.msg {
  margin: 20px 0;
}
.msg .container {
  display: flex;
}
.msg .container .right {
  height: 100%;
  width: 50%;
}
.msg .container .right img {
  max-width: 100%;
  height: 100%;
}
.msg .container .left {
  width: 50%;
  padding-right: 10px;
}
.msg .container .left .head-title {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 10px;
  color: var(--black);
  position: relative;
}
.msg .container .left .head-title::before {
  content: "";
  width: 75%;
  height: 2px;
  background-color: var(--black);
  position: absolute;
  left: 0;
  top: calc(50% - 1px);
  border-radius: 20px 0 0 20px;
}
.msg .container .left .sub-title {
  font-size: 2rem;
  line-height: 60px;
  letter-spacing: 0px;
  color: var(--black-light);
  margin-bottom: 10px;
}
.msg .container .left p {
  font-size: 14px;
  line-height: 20px;
  color: var(--text-color);
  font-weight: 400;
  margin-bottom: 25px;
}
.msg .container .left .skill h3 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  margin: 10px 0;
  color: var(--black3);
}
.msg .container .left .skill h3 span {
  font-size: 9px;
  color: var(--black-lighter);
  border: 1px solid #ccc;
  padding: 3px 5px;
  border-radius: 4px;
}
.msg .container .left .the-progress {
  height: 10px;
  background-color: #eee;
  position: relative;
  border-radius: 20px;
}
.msg .container .left .the-progress span {
  height: 100%;
  background-color: var(--black-lighter);
  top: 0;
  right: 0;
  position: absolute;
  border-radius: 0 20px 20px 0;
}

.options {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
  background-image: url(../img/Untitled-3.png);
  background-size: cover;
  background-position: center center;
  position: relative;
}
.options .content {
  position: absolute;
  top: 30%;
  width: 100%;
}
.options .content h5 {
  color: #bed3e8;
  font-size: 1.8rem;
  text-align: center;
  line-height: 33px;
  margin-bottom: 50px;
}
.options .content .cards-box {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
  width: 100%;
}
.options .content .card {
  position: relative;
  width: 250px;
  height: 250px;
  background-color: #f2f2f2;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  perspective: 1000px;
  transition: all 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.options .content .card .card-img {
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  border-radius: 3px;
  background-image: url(../img/Group-17.png);
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
}
.options .content #card2 .card-img {
  background-image: url(../img/Group-19.png);
}
.options .content #card2 .card__content {
  background-image: url(../img/Group-19.png);
}
.options .content #card3 .card-img {
  background-image: url(../img/Group-18.png);
}
.options .content #card3 .card__content {
  background-image: url(../img/Group-18.png);
}
.options .content .card:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4509803922);
  background-color: #f2f2f2;
  color: #ffffff;
}
.options .content .card__content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 20px;
  box-sizing: border-box;
  background-image: url(../img/Group-17.png);
  background-size: cover;
  background-position: center center;
  transform: rotateX(-90deg);
  transform-origin: bottom;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  display: flex;
  align-items: center;
  justify-content: center;
}
.options .content .card__content span {
  background-color: var(--black);
  color: white;
  text-align: center;
  margin-top: 50%;
  margin-left: auto;
  margin-right: auto;
  padding: 5px 10px;
  border-radius: 10px;
}
.options .content .card:hover .card__content {
  transform: rotateX(0deg);
}
.options .content .card__title {
  margin: 0;
  padding-left: 5px;
  font-size: 24px;
  color: #000000;
  font-weight: 700;
}
.options .content .card:hover .card-img {
  scale: 0;
}

.custom {
  margin-top: 120px;
  margin-bottom: 50px;
}
.custom .swiper {
  height: 50px;
}
.custom .swiper .swiper-wrapper {
  height: 40px;
}
.custom .swiper .swiper-button-next:after,
.custom .swiper .swiper-button-prev:after {
  font-size: 18px !important;
}
.custom .swiper .swiper-button-next,
.custom .swiper .swiper-button-prev {
  top: 20px !important;
}
.custom .swiper .swiper-slide {
  padding: 0 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 10px;
}
.custom .swiper .swiper-pagination {
  bottom: 0px !important;
}

/* start contact */
.contact {
  padding-bottom: 50px;
}
.contact .main-heading {
  text-align: center;
}
.contact .main-heading h2 {
  position: relative;
  margin-bottom: 30px;
  font-weight: normal;
  font-size: 30px;
  text-transform: uppercase;
  color: var(--black);
}
.contact .main-heading h2::before {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  height: 2px;
  width: 120px;
  background-color: var(--black);
  bottom: -18px;
}
.contact .main-heading h2::after {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  height: 14px;
  width: 14px;
  background-color: white;
  bottom: -25px;
  border: 2px solid var(--black);
  border-radius: 50%;
}
.contact .main-heading p {
  margin: 0 auto 20px;
  color: #777;
  width: 550px;
  max-width: 100%;
  line-height: 2;
  font-size: 15px;
  text-align: center;
}

.contact .content {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 767px) {
  .contact .content {
    flex-direction: column;
  }
}
.contact .content form {
  flex-basis: 70%;
}

.contact .content form .main-input {
  display: block;
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
}

.contact .content form .main-input:focus {
  outline: none;
}

.contact .content form textarea {
  height: 150px;
}

.contact .content form input[type=submit] {
  background-color: var(--black);
  padding: 8px 25px;
  color: white;
  border: none;
  text-transform: uppercase;
  margin-left: auto;
  display: flex;
  cursor: pointer;
  border-radius: 10px;
  transition: 0.3s;
  font-weight: 600;
}
.contact .content form input[type=submit]:hover {
  background-color: var(--black-lighter);
}

.contact .content .info {
  flex-basis: 25%;
}

@media (max-width: 767px) {
  .contact .content .info {
    order: -1;
    text-align: center;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  .contact .content .info div address {
    margin-bottom: 10px;
  }
  .contact .content .info h4 {
    margin-top: 40px;
  }
  .contact .container .main-heading p {
    margin-bottom: 0;
  }
}
.contact .content .info div h4 {
  font-size: 18px;
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 20px;
  color: var(--black);
}

.contact .content .info div span {
  margin-bottom: 10px;
  color: #777;
  display: flex;
  gap: 20px;
}

.contact .content .info .div2 h4:last-of-type {
  margin-top: 80px;
  margin-bottom: 20px;
}

.contact .content .info .div2 address {
  line-height: 2;
  text-transform: capitalize;
  color: #777;
  font-size: 14px;
}

/* END contact */
/* Start Footer */
.footer {
  background-color: var(--black3);
  padding: 30px 0;
  margin: auto;
}

.footer * {
  text-align: right;
}

@media (max-width: 767px) {
  .footer {
    text-align: center;
  }
}
.footer .container {
  display: flex;
  gap: 20px;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer .box h3 {
  color: #44b5f9;
  font-size: 20px;
  margin: 0 0 20px;
  font-style: italic;
  text-align: center;
}

.footer .box img {
  width: 150px;
}

.footer .box .social {
  display: flex;
  margin: 20px 0 20px;
}

@media (max-width: 767px) {
  .footer .box .social {
    justify-content: center;
  }
}
.footer .box .social li {
  margin-right: 10px;
}

.footer .box .social li a {
  background-color: #313131;
  color: #b9b9b9;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  font-size: 15px;
  transition: 0.3s;
}

.footer .box .social a:hover {
  background-color: #1877f2;
  color: white;
}

.footer .text {
  line-height: 1.5;
  color: #b9b9b9;
  font-size: 12px;
  text-align: center;
  width: 80%;
  margin: auto;
  max-width: 1050px;
}

.footer .box .links li {
  padding: 15px 0;
  transition: 0.3s;
}

.footer .box .links li:not(:last-child) {
  border-bottom: 1px solid #444;
}

.footer .box .links li:hover {
  padding-right: 10px;
  border-bottom: 1px solid #1877f2;
}

.footer .box .links li:hover a {
  color: white;
  transform: translateX(-20px);
}

.footer .box .links li a {
  color: #b9b9b9;
  transition: 0.3s;
  font-size: 14px;
}

.footer .box .links li i {
  font-weight: 900;
  margin-left: 10px;
  color: #44b5f9;
  font-size: 16px;
}

.footer .box .line {
  display: flex;
  align-items: center;
  color: #b9b9b9;
  margin-bottom: 30px;
}

@media (max-width: 770px) {
  .footer .box .line {
    flex-direction: column;
  }
}
.footer .box .line i {
  font-size: 25px;
  color: var(--main-color);
  margin-right: 10px;
}

@media (max-width: 767px) {
  .footer .box .line i {
    margin-right: 0;
    margin-bottom: 15px;
  }
}
.footer .box .line .info {
  line-height: 1.7;
  flex: 1;
}

.footer .box .line .info span {
  display: block;
}

.footer .copyright {
  padding: 25px 0;
  text-align: center;
  color: white;
  margin: 50px 0 0;
  border-top: 1px solid #444;
  font-style: italic;
}

.footer .copyright span {
  color: var(--main-color);
}

.footer .box-img {
  text-align: center;
}

/* End Footer *//*# sourceMappingURL=style.css.map */